* {
	font-family: 'Inter';
}
header .btn-primary {
	border: unset;
	border-radius: 100px;
	background: linear-gradient(90deg, #015D91, #001C2B);
	line-height: 1.5;
	display: flex;
	align-items: center;
}
header .btn-primary img {
	margin-right: 20px;
}
header ul li a,footer ul li a {
	color:#000000!important;
}
header ul li:hover a,header ul li a:hover, footer ul li:hover a,footer ul li a:hover,li a.active,a:hover {
	color: #f85508 !important;
}
.btn-light, .btn-light:hover {
	background-color: white;
}
.text-dark {
	color:#000000;
}
p a {
	color:#000000;
	text-decoration: unset;
}
a:hover {
	cursor: pointer;
}
.btn-warning a:hover,a.btn-warning:hover {
	color: white!important;;
}
.section-bg-1 {
	height: 832px;
}
.section-bg-1 .container {
	height: 100%;
	background-image: linear-gradient(#00000000, #0000009e), url('../images/main-banner-1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
  	border-radius: 40px;
}
.section-bg-1 .container .row {
	position: relative;
	top: 60%;
}
.section-bg-1 h1 {
	font-size: 60px;
	font-weight: 800;
	width:50%;
}
.section-bg-1 p {
	font-size: 35px;
	width:30%;
	line-height: 50px;
	margin-bottom:unset!important;
	display: flex;
	align-self:end;
	padding-bottom: 10px;
}
.section-bg-6 {
	height: 832px;
	
}
.section-bg-6 .container {
	background-image: linear-gradient(#00000000, #0000009e), url('../images/main-banner-3.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  	border-radius: 40px;
	height:100%;
	overflow: hidden;
}
.section-bg-6 .container .row {
	position: relative;
	top: 40%;
}
.section-bg-6 h2 {
	font-size: 42px;
	font-weight: 700!important;
	width:50%;
}
.section-bg-6 p {
	font-size: 16px;
	line-height: 19px;
	width:50%;
}
.text-warning {
	color: #f85508!important;
}
.bg-dark {
	background-color: #292929!important;
}
footer {
	margin-top: 3rem !important;
}
.section-bg-2 {
	background: linear-gradient(140deg, #E8F0F600, #E8F0F6);
}
.text-primary {
	color:#015D91!important;
}
.custom-1::before,.custom-1::after,.custom-2::before,.custom-2::after {
	width: 49px;
    height: 51px;
    display: block;
    position: relative;
	background-repeat: no-repeat;
}
.custom-1::before {
	content:' ';
	background-image: url('../images/border-1.png');
	background-size: 99%;
	top:10%;
}
.custom-1.v2::before {
	top:0;
	left:-30px;
}

.custom-1::after {
	content:' ';
	background-image: url('../images/border-2.png');
	background-size: 99%;
	left: 90%;
    bottom: 10%;
}
.custom-1.v2::after {
	left:95%;
}
.custom-1 p {
	font-size: 22px;
	font-weight: 500;
}
.custom-2::before {
	content: ' ';
	background-image: url('../images/blue-border-1.png');
	background-size: 99%;
	top:0;
	left:-30px;
}
.custom-2::after {
	content: ' ';
	background-image: url('../images/blue-border-2.png');
	background-size: 95%;
	left: 90%;
    bottom: 10%;
}
.custom-1.v2, .custom-2 {
	width:47%;
}
h2 {
	font-size: 42px;
	font-weight: 700;
	line-height: 46px;;
}
p b {
	font-weight: 500;
}
.section-bg-2 h2 {
	font-weight: 500;
}
.section-bg-2 .d-flex > p{
	width:45%;
}
.border-start {
	border-left:1px solid #00000021;
}
.pt-6 {
	padding-top:80px!important
}
.py-6 {
	padding-top:80px!important;
	padding-bottom:80px!important;
}
.panes .row .col-md-4 {
	height:310px;
	background-size: 95% 100%;
	background-repeat: no-repeat;
}
.panes a {
	font-size:18px;
	font-weight: 600;
	width: 90%;
    position: relative;
    top: 72%;
    margin: 0 auto;
    margin-right: 30px;
	min-height: 68px;;
}
.btn {
	border-radius: 20px!important;
}
.panes img {
	height: 22px;
	width:22px;
}
.panes > .row > .col-md-4:first-child {
	background-image: url('../images/pane-1.png');
}
.panes > .row > .col-md-4:nth-child(2) {
	background-image: url('../images/pane-2.png');
}
.panes > .row > .col-md-4:nth-child(3) {
	background-image: url('../images/pane-3.png');
}
.panes > .row > .col-md-4:nth-child(4) {
	background-image: url('../images/pane-4.png');
}
.panes > .row > .col-md-4:nth-child(5) {
	background-image: url('../images/pane-5.png');
}
.panes > .row > .col-md-4:last-child {
	background-image: url('../images/pane-6.png');
}
.section-bg-3 {
	height: 600px;
	background: linear-gradient(310deg, #013350,#015D91);
}
h2.text-white {
	font-weight: 400;
}
.section-bg-3 .col-md-4 > div {
	background: url('../images/clip-bg.png');
	background-repeat: no-repeat;
    background-size: 100% 100%;
	min-height: 350px;
}
.section-bg-3 p {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: unset;
	line-height: 24px;
	padding-right: unset !important;
    width: 75%;
}
.section-bg-3 ul {
	margin-bottom: unset;
}
.section-bg-3 {
	margin-bottom: unset;
	height: fit-content;
}
.custom-num {
	height: 66px;
    width: 66px;
	border-radius: 50%;
	background-color: #F85508;
	font-size: 24px;
	font-weight: bold;
}
.section-bg-4 {
	background-image: url('../images/bg-logo.png'), linear-gradient(#E8F0F6ed, #E8F0F6ed) ;
	background-repeat: no-repeat;
	background-position-x: right;
}
.section-bg-4 p {
	font-size: 22px;
}
.section-bg-4 .custom-line::before {
	content: '';
	display: block;
	background-image: url('../images/line-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
    width: 99vw;
   	position: relative;
    top: 70px;
    height: 3px;
}
.section-bg-4 .custom-line span::after {
	content:' ';
	background-image: url('../images/dots-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 20px;
	width:20px;
	position: relative;
	top: 4px;
}
.section-bg-4 .custom-line span {
	font-size: 36px;
	font-weight: 800;
}
.section-bg-4 .custom-line ul {
	padding-left: 16px;
}
.section-bg-5 .block-bg{
	min-height: 670px;;
	background-image: url('../images/main-banner-2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position-y: -100px;
	border-radius: 22px;
}
.section-bg-5 .block-bg h4 {
	min-height: 58px;
	word-break: break-word;
}
.section-bg-5 .orange-bg {
	background-color: #F85508;
	border-radius: 22px;
}
.border-end {
	border-color: #FFFFFF8A!important;
}
.section-carousel .carousel .carousel-control-prev,.section-carousel .carousel .carousel-control-next {
	position: relative;
	width:7%;
}
.section-carousel .carousel-item p {
	position: relative;
    bottom: 15%;
    margin: 0 auto;
    display: block;
    text-align: left;
	width:95%;
	white-space: nowrap;
    font-size: 12px;
}
.section-carousel .carousel-item p span {
	font-weight: 600;
}
.btn-warning {
	background-color: #F85508!important;
	border:unset;
}
.carousel-control-prev-icon {
	background-image: url('../images/slide-prev.png');
	height: 60px;
	width:60px;
}
.carousel-control-next-icon {
	background-image: url('../images/slide-next.png');
	height: 60px;
	width:60px;
}
.cases .case p {
	font-size:22px;
	font-weight: 600;
	margin-bottom: unset;
}
.cases .border-top,.cases .border-bottom {
	border-color: #00000033!important;
}
a.btn-warning {
	width:fit-content; 
	font-weight:600;
	font-size:20px;
}
.section-bg-7 {
	min-height: 2100px;
	
}
.section-bg-7 .container {
	background-image: url('../images/main-banner-4.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 22px;
	height: 100%;
}
.section-bg-7 ul {
	padding-left: 16px;
}
.section-bg-7 h2 {
	font-weight: 700;
}
.section-bg-7 .col-md-6 > div{
	background-color: #000000A3;
    border-radius: 25px;
    backdrop-filter: blur(10px);
	min-height: 585px;
	width:90%;
}
.border-bottom {
	border-bottom:1px solid #FFFFFF21!important;
}
#contacts .border-bottom{
	border-bottom:2px solid #FFFFFF21!important;
}
h4 {
	font-size:20px;
}
.row.contacts > .col-md-6:first-child > div{
	height:550px;
}
.section-bg-3.v2 p {
	font-size: 16px;
	width:100%;
	font-weight: normal;
}
.section-bg-3.v2 a {
	text-decoration: unset;
}
div.btn-warning {
	font-size:20px;
	font-weight: 400;
}
.col-md-4 > div.btn-warning {
	min-height: 110px;;
}
.contacts img {
	width:100%;
}
.text-block img {
	width:100%;
}
.text-block span {
	font-weight: bold;
}
.text-block p,.text-block ul li, .text-block h4 {
	margin-bottom: 15px;
}
.text-block h1 {
	font-size: 42px;
	font-weight: 800;
}
.text-block h4 {
	font-size: 22px;
	font-weight: bold;
}
.text-block ul {
	padding-left:15px;
}
.text-block .col-md-3 p {
	font-weight:600;
	height: 70px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-block .col-md-3 a {
	color:#000000;
	text-decoration: unset;
}
.text-block .col-md-12 p b {
	font-weight: 600;
	font-size:22px;
	margin-right: 15px;
}
.text-block .col-md-12 p br {
	display: block;
	margin-bottom: 8px;
}
.section-404 img {
	width:100%;
	position: relative;
    top: 9rem;
	z-index: -1;
}
.section-404 .btn {
	position:relative;
	bottom:20vh;
	font-size:22px;
}
.text-blue {
	color: #015d91 !important;
}
.px-6 {
	padding-left: 75px!important;
	padding-right: 75px!important;
}
#scroll-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  animation: show 2.5s forwards;
}
#scroll-top::hover{
	cursor: pointer;
}
.docs .col-md-3 img {
	height:390px;
	border-radius: 15px;
	border:1px solid #D9D9D9;
}
@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
}
html {
    scroll-behavior: smooth;
}
/* Для браузеров которые не поддерживают */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

@media (max-width:1600px) {
	header .btn-primary {
		font-size:12px;
	}
	.section-carousel .carousel-item p {
		font-size:11px;
	}
}
@media (max-width:1024px) {
	header .nav {
		flex-wrap: nowrap;
    	white-space: nowrap;
		position: relative;
		right:20px;
	}
	header .nav li a {
		font-size:12px;
	}
	header .container > .d-flex a:first-child img {
		height: 41px;
		width:100px;
	}
	header .btn.me-2 img {
		height:22px;
		width:51px;
	}
	header .container > .d-flex div:last-child a img {
		height: 17px;
		width:18px;
		margin-right:10px;
	}
	.section-bg-1 {
		height:443px;
	}
	.section-bg-1 h1 {
		font-size:42px;
	}
	.section-bg-1 p {
		font-size: 24px;
		padding-top: unset !important;
		line-height: 35px;
		font-weight: 400;
	}
	.col-xs-6 {
		width:50%;
	}
	.col-xs-12 {
		width:100%;
	}
	.col-xsm-4 {
		width:33%!important;
	}
	.custom-1 .text-primary {
		padding-left: 24px !important;
    	padding-right: 24px;
	}
	.custom-1 p.text-primary {
		font-size:16px;
		line-height: 25px;
	}
	.section-bg-2 p {
		font-size: 14px;
	}
	.custom-1::before, .custom-1::after, .custom-2::before, .custom-2::after {
		height: 26px;
		width: 26px;
	}
	.custom-1::after {
		background-size: 90%;
		left:94%;
		bottom:15%;
	}
	h2 {
		font-size: 28px;
		line-height: 30px;
	}
	.panes a {
		font-size: 16px;
		min-height: 60px;
		display: block;
		width:92%;
	}
	.panes .col-md-4 {
		width:50%;
		margin-bottom: 24px;
	}
	.custom-num {
		height: 55px;
		width: 55px;
		font-size:20px;
	}
	.section-bg-4 h2.text-warning {
		font-size: 22px;
	}
	.section-bg-4 p {
		font-size:16px;
	}
	.section-bg-4 .custom-line span {
		font-size:28px;
	}
	.section-bg-4 .custom-line span::after {
		height:8px;
		width:8px;
		top:23px;
	}
	.section-bg-5 .row.orange-bg > div:nth-child(1),.section-bg-5 .row.orange-bg > div:nth-child(2) {
		border-bottom:2px solid #FFFFFF8A!important
	}
	.section-bg-5 .row.orange-bg img {
		height:33px;
		width:33px;
	}
	.section-bg-5 .block-bg h4 {
		min-height: 25px;
	}
	.section-bg-5 .block-bg {
		min-height: 750px;
		background-position-y: 0px;
	}
	.section-bg-6 h2 {
		width:70%;
		line-height: 1;
	}
	.section-bg-6 p {
		width:100%;
	}
	.section-bg-6 .container .row {
		top: 56%;
	}
	.section-bg-6.py-6 {
		padding-bottom:unset!important;
		margin-bottom:unset!important;
	}
	.carousel-control-prev-icon,.carousel-control-next-icon {
		height:36px;
		width:36px;
	}
	.section-carousel .carousel .carousel-control-prev, .section-carousel .carousel .carousel-control-next {
		width:5%;
	}
	.carousel.lg {
		display: none;
	}
	.carousel.md {
		display: block!important;
	}
	.section-carousel .carousel-item p {
		display: flex;
    	flex-direction: column;
    	justify-content: space-between;
		width: 100%;
    	height: 15%;
    	border-radius: 15px !important;
		padding:15px!important;
		font-size: 12px;
        white-space: initial;
	}
	.cases p {
		font-size:18px;
	}
	.cases .case .row > div:last-child img {
		height:42px!important;
		width:42px!important;
	}
	a.btn-warning {
		font-size:16px;
	}
	.section-bg-7 .col-md-6 > div {
		width:100%;
		min-height: 486px;
	}
	h4 {
		font-size:18px;
	}
	#contacts h4 {
		font-size:22px;
	}
	#contacts a {
		display: block;
		width:100%;
	}
	#contacts h3 {
		padding-bottom:25px!important;
	}
	#contacts .pmt-3 {
		padding-top:25px;
	}
	p.m-f {
		font-size:16px!important;
	}
	footer ul {
		flex-wrap: nowrap!important;
    	white-space: nowrap;
	}
}